language: php
before_script:
- composer self-update
- composer install --prefer-source --no-interaction
- cp .env.example .env
- php artisan key:generate
- npm install -g grunt-cli
- npm install -g bower
- echo -e "Host github.com\n\tStrictHostKeyChecking no\n" >> ~/.ssh/config
- bower install -f
sudo: required
deploy:
  provider: openshift
  user: samundrak@yahoo.com
  password:
    secure: akYuXVschlHsTTxZbeOM+4Nh++Az1sPOktqXM46cYuXrplEdkMhHRQphWOP8TuMdJuvU1ZhYE7tvVF3S3/QXSz/k6I7fxTHnbF9c8gdsb9HZJZROzkYKTM3TnlzLDNjbvaJ04Knfb7FGgF3w9LoGyHSKOutaAOxGKY5BaR2CaiuMTGSzVQkhkFxWaNBPgFwbFsidlrZLfErCLbDWHkheebveqlZNPzz6ahM4Jf9sztfwTR4QlC4WmItiCYe6pPFYap3uVhok9DhPSH+Ij1icqYIbzSZBkQ9YHPzHogCOZtmx0divDNC6MxygPBI8gDvD+YOwn9vaxq5XS+39CxIkXQWxrjdQTcx72nGpo4DqbfKpaxwgbKTvAjaR7WKHqYal0ECPqb3gKqVp+FrMXccQyFXDunnF1/Hj7niT3ToeQ8VilXWo03/OLHCARUlbqNo2o08uuYuOAcMINpuI6JGRMgep4UVDspNi2E2XeJOMlUCOoP1wDJQR2DWVVQS5s+/0wj9wvNtw1cEFKHZUSIcXigMt7BCQ8uLxdYF3Tv3LvT+jaeGnj66/5UPC7J1BBUeIgHgIo4cK6oTeYeClKys3Fs4XbqsEDke3+1jiNc5EFzfgwAqys5y8MojPOPHW106LxL68WLENtcSVGgvwg/frYr0gJ79bwT2J7yv8RJuUhC8=
  app: nepal
  domain: samund
  skip_cleanup: true
  on:
    repo: samundrak/coding-test-laravel
