language: php
before_script:
- composer self-update
- composer install --prefer-source --no-interaction
- cp .env.example .env
- php artisan key:generate
- npm install -g grunt-cli
- npm install -g bower
- echo -e "Host github.com\n\tStrictHostKeyChecking no\n" >> ~/.ssh/config
- bower install -f
sudo: required
deploy:
  skip_cleanup: true
  provider: heroku
  app: mansalu
  api_key:
    secure: "621e679a-3abb-4dcc-8b68-7f6640cd9e60"